* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;

}

.app {
    flex-flow:row;
    display: flex;
    flex-flow: row;
    flex: 1;
    top: 400px;
    padding: 8px;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.plan {
    display: flex;
    margin: 0 1px;
}

.time {
    display: flex;
    flex-flow: column;
    flex: 1;
    background-color: #eeeeee;
    margin: 0 2px;
    padding: 8px;
}
.plan .time .list-item2 {
    color: #fff;
    display: flex;
    background-color: #4272d7;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    margin: 4px 0px;
    height: 50px;
    width: 100px;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;
}


.scheduler {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    margin-left: 50px;
    width: 70%;
    height: 60%;
}

.scheduler2 {

    display: none;
    flex-flow: row;
    overflow-x: scroll;
    margin-left: 50px;
    width: 70%;
    height: 60%;
}

.day {
    display: table;
    flex-flow: column;
}

.name{
    display: flex;
    justify-content: center;
    height: 30px;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;
    background: #fff;
    margin: 0 2px;
}

.lists {
    display: flex;
    flex: 1;
    margin: 0 5px;
    background-color: #eeeeee;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;

}

.lists .list {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 0 2px;
    padding: 8px;
    transition: all 0.2s linear;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;
}

.lists .list .list-item {
    display: flex;
    background-color:  #f498b7;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    width: 150px;
    margin: 4px 0px;
    height: 50px;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;
}


.subjects {
    display: flex;
    flex-flow: column;
    overflow-x: scroll;
    padding: 8px;
    height: 500px;

    background-color: #eeeeee;
    border: 1px solid  #bdbdbd;

}

.classrooms {
    display: none;
    flex-flow: column;
    flex: 1;
    overflow-y: scroll;

    width: 150px;
    height: 520px;
    padding: 8px;

    background-color: #eeeeee;
    transition: all 0.2s linear;
    border: 1px solid  #bdbdbd;

}

.subject.subject {
    flex-shrink: 0;
    background-color:  #f498b7;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    margin-top:10px;
    height: 50px;
    width: 100px;
    font-size: 3mm;
    border-width: thin;
    border-style: solid;
    border-color: #bdbdbd;

}

.h1 {
    position: absolute;
    text-align: center;
    display:flex;
    top: 20px;
    right: 150px;
    font-size: 6mm;
}

/* css for switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 50px;
    margin-top:5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input {

}
.button {
    margin-bottom: 20px;
}
.buttonandsliders {
    flex-flow: column;
    width: 10%
}

.subjectsAndText {
    margin-left: 150px;
    flex-flow: column;
}




